# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
*.bet-env
*.venv

# Checkpoints
checkpoints/

# Logs and evaluation outputs
eval_videos/
wandb/

# System files
.DS_Store

.vscode/
pusht/
*.zip